<!DOCTYPE html>
<html>
<!-- Mirrored from light.pinsupreme.com/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 06 Aug 2017 14:37:38 GMT -->

<head>
    <title>Admin Dashboard HTML Template</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="template language" name="keywords">
    <meta content="Tamerlan Soziev" name="author">
    <meta content="Admin dashboard html template" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="assets/template/pinsupreme/favicon.png" rel="shortcut icon">
    <link href="assets/template/pinsupreme/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="assets/template/pinsupreme//fast.fonts.net/cssapi/175a63a1-3f26-476a-ab32-4e21cbdb8be2.css" rel="stylesheet" type="text/css">
    <link href="assets/template/pinsupreme/bower_components/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/bower_components/dropzone/dist/dropzone.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet">
    <link href="assets/template/pinsupreme/css/mainc599.css?version=3.3" rel="stylesheet">

    <!-- Loding angular js -->

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
    <script src="assets/app/controllers.js"></script>


</head>

<body class="auth-wrapper">